* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #2d2f3e;
  /* background-color:gray; */
  font-size: 18px;
}

.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  min-height: 100vh;
}

form {
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 2em;
}

label {
  margin-bottom: 10px;
  margin-top: 20px;
}

input,
select {
  border: 1.5px solid #ededed;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 10px;
}

select {
  background-color: #fff;
}

.error-message {
  color: red;
  margin-top: 5px;
}

button {
  margin-top: 2em;
  padding: 1em;
  border-radius: 25px;
  font-size: 1rem;
  background-color: #3f31d5;
  color: #fff;
  border: none;
}
.genders {
  display: flex;
}
.male {
  padding: 22px;
  margin-left: 50px;
}

.check {
  margin-right: 33%;
}
.message {
  height: 125px;
  resize: none;
  border: 1.5px solid #ededed;
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 10px;
}
